.block-files
  .files
    display: block !important
    li
      display: block
      margin-bottom: $spacing2
      &::before
        display: none
      a
        &::before
          display: none
      figure
        display: flex
        gap: $spacing0
      figcaption
        margin-top: 0
  audio
    display: block
