.block-files
  .files
    display: block !important
    li
      display: block
      margin-bottom: $spacing2
      &::before
        display: none
      a
        &::before
          display: none
      figure
        display: flex
        gap: $spacing0
      figcaption
        margin-top: 0
  audio
    display: block

.block-gallery
  &--grid
    .gallery
        align-items: start
        @include in-page-without-sidebar
            @include grid(2, desktop)

.hero
  border-bottom: 1px dashed #000


.logo
  font-size: px2rem(50)
  transform: rotate(90deg) scaleX(-1)